language: python
sudo: false
cache:
  apt: true
  directories:
    - $HOME/.cache/pip

python:
  - "2.7"

addons:
  apt:
# only add the two lines below if you need wkhtmltopdf for your tests
#    sources:
#      - pov-wkhtmltopdf
#    Search your sources alias here:
#      https://github.com/travis-ci/apt-source-whitelist/blob/master/ubuntu.json
    packages:
      - expect-dev  # provides unbuffer utility
      - python-lxml  # because pip installation is slow
      - python-simplejson
      - python-serial
      - python-yaml
      - libcups2-dev # for aeroo
      # FE
      - python-dev
      - swig
      - libffi-dev
      - libssl-dev
      - python-m2crypto
      - python-httplib2
#     Search your packages here:
#       https://github.com/travis-ci/apt-package-whitelist/blob/master/ubuntu-precise
#      - wkhtmltopdf  # only add if needed and check the before_install section below

# set up an X server to run wkhtmltopdf.
#before_install:
#  - "export DISPLAY=:99.0"
#  - "sh -e /etc/init.d/xvfb start"

env:
  global:
  - VERSION="8.0" TESTS="0" LINT_CHECK="0" TRANSIFEX="0"
  - TRANSIFEX_USER='jjscarafia'
  # to get secure, run 'travis encrypt TRANSIFEX_PASSWORD=[transifex_password] -r [github_repo]'
  # example of github repo 'ingadhoc/odoo-infrastructure'
  - secure: Kys/o1svHJON9p6Vwv4qVSAvR/e6KGp4qKeDjWNcVeQoCfs0O35aiouLWUUiuj+JSrACL6ngha3QbeuajhYr6cYPur4NjIbCq7ePcmbEu45OcJz3l/7EiUFit8XwlRmT1uGtgknsvbn37vlF0IC28gK/1D/06CLJnxAXBOjkEd7sNmAQNAYVHQREsQsK1Pw39APAzUAtB5K5fNU3MUhQ0dCWWZ+nQeghbVM0kzf1k1iJkRDf3WDWZRRDCQdS93bMkXsw0ojkW1X5sSAqfxu89uDSyMNgMVmPsLsavatFrlUMEMZXkSlevGvNUSgoClLQMeIzbivhDME9Nv6hKcqYU8TKIYF7URtSdWwOA1FxXnrOqUjkAqvajS2P2byLYHMoRC31SH5Mh3s2A04qh+sLEf406fB8e8//7leN4l9YL2S3F6m++ZUHgN7YHXD0jhspiuC9FtnMDULUIDXGM4vaMpkZY5lhROOPXecE9FAIl9rc8s3BqlV2GMP4rrBxqo8l5SoSt4I5TOacI3niHBUHU47jhRK8NsGI/Z9ybElNeVmBI9QzZXHhciB31IPC/nRL9MgBFN1/JsHH2FXUv9OnOi8VxU5AqsCCeCG+dSFGeKZfRPZiqIHZNavL7DLitrYmN3JsizKTPGsA1CQ1788Q8oTx8C+Fn4zk+hQ+vCI+DKo=
  - TRANSIFEX_ORGANIZATION='adhoc'
  - TRANSIFEX_TEAM='46451'

  matrix:
  # TODO enable lint check
  #- LINT_CHECK="1"
  - TRANSIFEX="1"
  - TESTS="1" ODOO_REPO="odoo/odoo"
# either use the two lines above or the two below. Don't change the default if
# it's not necessary (it is only necessary if modules in your repository can't
# be installed in the same database. And you get a huge speed penalty in your
# tests)
#  - TESTS="1.0" ODOO_REPO="odoo/odoo" UNIT_TEST="1"
#  - TESTS="1.0" ODOO_REPO="OCA/OCB" UNIT_TEST="1"

virtualenv:
  system_site_packages: true

install:
  # aeroo reports
  - pip install git+https://github.com/aeroo/aeroolib.git@master pycups==1.9.68

  # repository requirements
  - pip install -r requirements.txt
  - pip install -r requirements2.txt

  - git clone --depth=1 https://github.com/OCA/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - travis_install_nightly

script:
  - travis_run_tests

after_success:
  - travis_after_tests_success
