pyOpenSSL
# m2crypto
httplib2
# pysimplesoap
git+https://github.com/pysimplesoap/pysimplesoap@stable_py3k
# fpdf>=1.7.2
# dbf>=0.88.019
# Pillow>=2.0.0
# git+https://github.com/OCA/openupgradelib/@master
# git+https://github.com/reingart/pyafipws@py3k
git+https://github.com/adhoc-dev/pyafipws@py3k-fix-tabs
